@font-face {
  font-family: "Montserrat";
  src: url("/dashboard/fonts/Montserrat/Montserrat-Black.ttf");

  }
.courses{
  position: fixed;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0 2em;
    li{
      padding: .5em;
      cursor: grabbing;
      &:hover{
        background: #eee;
      }

    }
    &.assigned{
      background: #eee;
      margin-top: 1em;
      padding: .5em;
      background-color: blue;
    }


  }
  .filterList{
    background-color: #f7f7f7;
    height: 400px;
    overflow: auto;
  }

  .headerr{
    text-align: center;
  }
  

}

#trash{
  border: 2px solid black;
  height: 50px;
  opacity: 0.5;
  width: 100%;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

#trash:hover{
  opacity: 0.8;
  background-color: red;
}
.courseTypes{
  text-align: center;
}

.qtrSettings{
  padding-top: 10px; 
  text-align: center;
}
